html
	head
	title Andrew Espidol
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='./main.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='./main.js')
	body
		.js-spiral
			.js-section
				.message
					| Scroll, Use Arrow Keys or Click

			.js-section
				h1 hey you
			.js-section
			.js-section
			.js-section
			.js-section
			.js-section
			.js-section
