@import url('https://fonts.googleapis.com/css?family=Bitter');

*{
    // outline: 1px dotted red;
}

// Colors
$turq: rgba(26, 188, 156,1.0);
$greensea: rgba(22, 160, 133,1.0);
$white: #ffffff;
$silver: rgba(189, 195, 199,1.0);
$sunflower: rgba(241, 196, 15,1.0);
$wisteria: rgba(142, 68, 173,1.0);

nav {
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    background: $white;
    max-height: 50px;
}

h1,h2,h3,h4,h5 {
    font-family: 'Bitter', serif;
    margin: 0px !important;
}
p {
    margin: 0px !important;
}

section{
    margin: 0px 30px;
    padding: 40px;
    min-height: 400px;
}

#intro {
    // min-height: 500px;
    // height: 100%;
    background: $turq;
    overflow: hidden;
    position: relative;
    text-align: center;
    .shape-border {
        border: 5px solid $greensea;
    }
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
    }
    .square {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 0px;
    }
    svg {
        position: absolute;
        .triangle {
            fill:none;
            stroke: $greensea; 
            stroke-width: 5px;
        }
    }

}

.card {
    background: $white;
    display: inline-block;
    padding: 15px 45px;
    position: absolute;
    bottom: 34%;
    right: 50%;
    z-index: 1;
    transform: translateX(50%) scale(1.2);
    border-radius: 2px;
    #para {
        margin: 5px auto;
        z-index: 2;
        position: relative;
        width: 80%;
    }
    #content {
        position: relative;
        h2, p {
            position: relative;
            z-index: 2;
        }
    }
}

.squiggle {
    text-align: center;
    margin: 0 auto;
    stroke: $turq;
    fill: none;
    stroke-width: 3;
    stroke-dasharray: none;
    position: static;

}
.float {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
}

.nav-logo{
    width: 60px;
}

.img-responsive {
    width: 100%;
}

#highlight {
    height: 100%;
    width: 0%;
    background: $wisteria;
    position: absolute;
    left: -4%;
    transition: opacity 0.5s, width 2s;
}

.white-text {
    color: white;
}
.sidefill {
    animation: sideFill 2s ease 1;
}
.line {
    background: $silver;
    height: 8px;
    width: 100%;
    margin: 4px 0px;
}

@keyframes move-and-spin {
    from {
        bottom: -10%;
        transform: rotate(0deg)
    }
    to {
        bottom: 100%;
        transform: rotate(360deg)
    }
}

@keyframes sideFill {
    from {
        width: 0%;
    }
    to {
        width: 108%;
    }
}