@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Lobster');

*{
    // outline: 1px dotted red;
}

// Colors
$turq: rgba(26, 188, 156,1.0);
$greensea: rgba(22, 160, 133,1.0);
$white: #ffffff;
$silver: rgba(189, 195, 199,1.0);
$sunflower: rgba(241, 196, 15,1.0);
$wisteria: rgba(142, 68, 173,1.0);
$clouds: rgba(236, 240, 241,1.0);
$alizarin: rgba(231, 76, 60,1.0);

html, body {
    background: $white;
    max-width: 100%;
    margin: 0px;
    overflow-x: hidden;
}

nav {
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    background: $white;
    max-height: 50px;
}

h1,h2,h3,h4,h5 {
    font-family: 'Bitter', serif;
    margin: 0px !important;
}
p {
    margin: 0px !important;
}
a{
    text-decoration: none;
    color: black;
}
section{
    margin: 0px 30px;
    padding: 40px;
}

#intro {
    height: 85vh;
    background: $clouds;
    overflow: hidden;
    position: relative;
    text-align: center;

    .shape-border {
        border: 5px solid $greensea;
    }
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
    }
    .square {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 0px;
    }

    #description {
        position: absolute;
        left: 13%;
        top: 40%;
        text-align: left;
        width: 35%;
        opacity: 0;
        transition: opacity ease 3s;
    }

}
.squiggle {
    stroke: $turq;
    stroke-width: 5px;
}

#work {
    position: relative;
}

#contact {
    padding: 20px;
    background: url('https://s3-us-west-2.amazonaws.com/ampersandrue/portfolio-images/brick.jpg') no-repeat center center fixed;  
    background-size: cover;    
    #contactCard {
        padding: 80px 0px;
        background: rgba(255,255,255, 0.7);
        ul {
            list-style: none;
        }
    }
}

#card {
    background: $alizarin;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: width 1s ease;
    h1 {
        text-align: left;
        font-weight: bold;
        font-size: 7.0em;
        transform: translateX(50%);
        transition: transform 1s ease;
    }
}

.fill {
    width: 100%;
}

.pull {
    animation: pulling 0.5s;
}

.red-text {
    color: $alizarin;
}

.squiggle {
    text-align: center;
    margin: 0 auto;
    fill: none;
    stroke-width: 5;
    stroke-dashoffset: 2e-05;
    stroke-dasharray: none;
    position: static;
}
.float {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
}

.nav-logo{
    width: 60px;
}

.img-responsive {
    width: 100%;
}

#highlight {
    height: 100%;
    width: 0%;
    background: $wisteria;
    position: absolute;
    left: -4%;
    transition: opacity 0.5s, width 2s;
    box-shadow: 1px 2px 3px rgba(0,0,0,.2);
    
}

.black-bg {
    background: #222222 !important;
}

.white-bg {
    background: white !important;
}
.detail-container {
    position: absolute;
    background: #222222;
    width: 100%;
    height: 100%;
    color: white;
    padding: 40px;
}

.relative {
    position: relative;
}

.colored-text {
    color: $turq;
}

.white-text {
    color: rgba(255,255,255, 0.9) !important;
}
.sidefill {
    animation: sideFill 2s ease 1;
}
.line {
    background: $silver;
    height: 8px;
    width: 100%;
    margin: 4px 0px;
}

.continue {
    transform: rotate(-90deg) translateX(10px);
    transition: color 0.5s;
    position: absolute;
    bottom: 12%;
    right: 5%;
    i {
        margin-right: 4px;
        animation: shake 6s infinite;
    }
}

.columns {
    position: relative;
    .overlay {
        color: white;
        opacity: 0;
        height: 100%;
        width: 25%;
        display: hidden;
        position: absolute;
        background: $turq;
        top: 0;
        right: 0;
        transition: width ease 1s, opacity ease 0.5s;
        h3 {
            font-family: 'Lobster', cursive;
        }
        .row {
            margin: 20px;
        }
    }
}

.columns:hover {
    .overlay {
        width: 100%;
        opacity: 1;
    }
}



.work-cards {
    min-height: 115px;
    padding: 20px;
    background: $alizarin;
    color: white;
    cursor: pointer;
    transition: transform ease 0.4s;
    h3 {
        font-family: 'Lobster', cursive;
    }
}

.flipt {
    background: url('https://s3-us-west-2.amazonaws.com/ampersandrue/portfolio-images/retired_couple.jpg');
    background-position: -40 -6;
}
.dojo {
    background: url('https://s3-us-west-2.amazonaws.com/ampersandrue/portfolio-images/binary.jpg');
    background-size: cover;
}
.battle {
    background: url('https://s3-us-west-2.amazonaws.com/ampersandrue/portfolio-images/github.png');
    background-size: cover;
}
.radio {
    background: url('https://s3-us-west-2.amazonaws.com/ampersandrue/portfolio-images/radio.png');
    background-size: cover;
}

.cosmos {
    background: url('https://s3-us-west-2.amazonaws.com/ampersandrue/portfolio-images/cosmos.jpg');
    background-size: cover;
}

.hide {
    color: rgba(255,255,255, 0) !important;
}

.row {
    margin: 30px 0px;
}

.strong {
    font-weight: bold;
}

form {
    position: relative;
    .input{
        margin: 15px 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        input {
            flex: 1 1 20em;
            margin: 0;
            border-radius: 0px;
        }
        .label {
            width: 38px;
            height: 38px;
            background: #222222;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            label {
                text-align: center;
            }
        }
    }
    textarea{
        width: 100%;
        height: 110px;
    }
}
@keyframes move-and-spin {
    from {
        bottom: -10%;
        transform: rotate(0deg)
    }
    to {
        bottom: 100%;
        transform: rotate(360deg)
    }
}

@keyframes sideFill {
    from {
        width: 0%;
    }
    to {
        width: 108%;
    }
}

@keyframes pulling {
    0% {
        transform: translateX(50%);
    }
    50% {
        transform: translateX(60%);
    }
    100% {
        transform: translateX(50%);
    }
}

@media screen and (max-width: 545px) {
    section {
        margin: 0px;
    }
    .row {
        margin: 0px;
    }
    .work-cards {
        margin: 10px 0px;
    }
    .overlay {
        p {
            font-size: 12px;
        }
    }
}




